* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fffff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* NavBar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    opacity: .8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: .2s ease-in;
}
.navbar.top {
    background:transparent;
}

.navbar a {
    color: #f5f5f5;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
    transition: .6;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 500;
}

/* header */

.hero { 
    background: url('../img/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: white;
}

.hero.blog {
    background-image: url(/img/blog/blog1.jpg);
    height: 50vh;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px;
}

.hero .content h1 {
    font-size: 55px;
}
.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin:20px 0 30px;
}

.hero * {
    z-index: 10;
}

.hero::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

section#about {
    display: flex;
}

.bg-dark {
    background-color: #333;
    color: #b8b8b8;
}

.cases img:hover {
    opacity: .7;
    cursor: pointer;
}

.team img {
    border-radius: 50%;
}

/* callback form */
.callback-form {
    width: 100%;
    padding: 20px 0;
}
.callback-form label {
    display: block;
    margin-bottom: 5px;
}
.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #b8b8b8 1px solid;
    background-color: #f7f7f7;
}

.callback-form .btn {
    background-color: #28a745;
    color: white;
    padding: 12px 0;
    text-transform: uppercase;
    margin-top: 15px;
}
.callback-form input:focus {
    outline-color: #28a745;
}

footer.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:200px;
    padding: 20px 0;
}

.footer a {
    color:white;
}

.footer a:hover {
    color:#28a745;
}

.footer .social > * {
    margin-right: 15px;
}

/* mobile */
@media(max-width:1200px){
    .flex-columns .column, .flex-grid .column {
        flex:50%;
        max-width:50%;
    }
}
@media(max-width:768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a {
        padding: 10px;
        margin: 0 3px;
    }
    .flex-items {
        flex-direction: column;
    }
    .flex-columns .column, .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }
    .team img {
        width: 70%;
    }
}

/* post */
.post {
    padding: 50px 30px;
}
.post h2 {
    font-size: 40px;
    ma
}



